.link {
  text-decoration: none;
}

.fijo,
.presentacion {
  position: relative;
  text-align: center;
  margin: 5px 20px 20px 20px;
  width: 225px;
  height: 225px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.presentacion {
  animation: show 2s;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0);
    background-image: url("../assets/portal.png");
  }
  50% {
    background-image: url("../assets/portal.png");
  }
  80% {
    transform: scale(.85);
  }
  100% {
    rotate: 1080deg;
    opacity: 1;
  }
}

.nombre,
.nombreFijo {
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
  padding: 2.5px;
  text-align: left;
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 255, 255);
  border: 2px outset rgb(255, 255, 255);
  border-radius: 10px;
}

.nombre {
  animation: molestos 2s;
}

.boton,
.botonFijo,
.fav,
.favFijo {
  height: 30px;
  width: 30px;
  margin: 5px;
  font-size: 20px;
}

.boton,
.botonFijo {
    position: absolute;
    right: 0;
    background-color: rgb(200, 0, 0);
    border-radius: 10px;
}

.fav,
.favFijo {
    position: absolute;
    left: 0;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.boton,
.fav {
  animation: molestos 2s;
}

.boton:hover {
  background-color: rgb(225, 0, 0);
}

.fav:hover {
  transform: scale(1.5);
}

@keyframes molestos {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.propiedades {
  transform: translateY(35%);
  opacity: 0;
}

.presentacion::before,
.fijo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  opacity: 0;
  transition: all 0.9s ease;
}

.presentacion:hover::before,
.fijo:hover::before {
  opacity: 1;
}

.presentacion:hover .nombre,
.fijo:hover .nombreFijo {
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.2s ease;
}

.presentacion:hover .propiedades,
.fijo:hover .propiedades {
  color: white;
  transform: translateY(10%);
  opacity: 1;
  transition: all 0.7s ease;
}
